@page "/Departments"

@inject HttpClient Http
@inject IMatToaster matToaster

<h1>Departments</h1>
<p>
    Manage Departments.
</p>
@if (Status == 0)
{
    <LoadingBackground ShowLogoBox="true">
        <label>Loading Api Data</label>
    </LoadingBackground>
}
else if (Status != 200)
{
    <label>Error in loading Api Data</label>

}
else
{
    <MatTable Items="@apiItems" Class="mat-elevation-z5" Striped="true" PageSize="10">
        <MatTableHeader>
            <th>Name</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Name</td>
        </MatTableRow>
    </MatTable>
}


@code {
    int Status = 0;

    List<Department> apiItems = new List<Department>();

    protected override async Task OnInitializedAsync()
    {
        ApiResponseDto apiResponse = await Http.GetJsonAsync<ApiResponseDto>("api/Department");

        if (apiResponse.StatusCode == 200)
        {
            Status = apiResponse.StatusCode;
            matToaster.Add(apiResponse.Message, MatToastType.Success, "Departments Retrieved");
            apiItems = Newtonsoft.Json.JsonConvert.DeserializeObject<Department[]>(apiResponse.Result.ToString()).ToList<Department>();
        }
        else
        {
            Status = apiResponse.StatusCode;
            matToaster.Add(apiResponse.Message + " : " + apiResponse.StatusCode, MatToastType.Danger, "Departments Retrieval Failed");
        }
    }
}
